<app-search-control-header (searchEvent)="searchItems($event)" (actionEvent)="showEditDialog()" />
<div *ngFor="let entity of entities$ | async">
    <app-item-tile [title]="entity.name" (editEvent)="onEditItem(entity)"
        (deleteEvent)="onDeleteItem(entity.id!) "></app-item-tile>
</div>

<app-custom-dialog header="إضافة الإسم" [visible]="showEditEntityDialog" (visibleChange)="showEditEntityDialog = $event"
     (saveAction)="editEntity()"(addDialogToggle)="showEditDialog()">
    <app-edit-entity-form [entity]="selectedEntity"></app-edit-entity-form>
</app-custom-dialog>